<img src="./assets/logo.png"/>
<h1>{{"app.titulo" | translate}}</h1>
<span>
    <a (click)="cambiarIdioma('de')">
        <img src="../../../assets/banderas/alemania.png" />
    </a>
    <a (click)="cambiarIdioma('fr')">
        <img src="../../../assets/banderas/francia.png" />
    </a>
    <a (click)="cambiarIdioma('swa')">
        <img src="../../../assets/banderas/tanzania.png" />
    </a>
    <a (click)="cambiarIdioma('en')">
        <img src="../../../assets/banderas/inglaterra.png" />
    </a>
    <a (click)="cambiarIdioma('es')">
        <img src="../../../assets/banderas/spain.png" />
    </a>
</span>
