table, td, th{
    border: thick solid chocolate;
    border-collapse: collapse;
    padding: 5px;
}

.verde{
    color: green;
}

.rojo{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

div{
    width: fit-content;
}

.resaltar{
    color: blue;
    font-size: x-large;
    background-color: silver;
}